h1 {
    text-align: center;
}
p {
    text-align: center;
    font-size: x-large;
    margin-right: 20%;
    margin-left: 20%;
    color: #444;
    font-family: "Roboto", sans-serif;
}
.logo-android {
    display: block;
    margin: 0 auto;
    width: 100px;
    height: auto;
}
.logo-apple {
    display: block;
    margin: 0 auto;
    width: 95px;
    height: auto;
}
section{
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background: white;
    border-radius: 25px;
    box-shadow: 0 0 0px;
    text-align: center;
    animation: reveal cubic-bezier(0.1, 0.54, 0.38, 0.96) both;
    animation-timeline: view();
    animation-range: entry 20% cover 80%
}
  